{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center">Список заказов</h2>

    <!-- Форма поиска и сортировки -->
    <form method="get" class="mb-4">
        <input type="text" name="q" placeholder="Поиск по заказам" class="form-control" value="{{ request.GET.q }}">
        <select name="sort" class="form-select mt-2">
            <option value="">Сортировать по</option>
            <option value="date" {% if request.GET.sort == 'date' %}selected{% endif %}>По дате (возрастание)</option>
            <option value="date_desc" {% if request.GET.sort == 'date_desc' %}selected{% endif %}>По дате (убывание)</option>
        </select>
        <button type="submit" class="btn btn-primary mt-2">Поиск</button>
    </form>

    <div class="row">
        {% for order in all_orders %}
        <div class="col-12 mb-3">  <!-- Изменено на col-12 для полной ширины -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ order.name }}</h5>
                    <p class="card-text">{{ order.is_done|yesno:"Завершен,Не завершен" }}</p>
                    <p class="text-muted">Дата: {{ order.date }}</p>
                    <a href="{% url 'goodsapp:order_review' order.id %}" class="btn btn-secondary btn-sm">Открыть</a>  <!-- Уменьшенный размер кнопки -->
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Нет заказов.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
