{% extends 'base.html' %}

{% block title %} Main page(Grid) {% endblock %}

{% block content %}
<div class="container-fluid my-4 p-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for order in all_orders %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ order.name }}</h5>
                    <p class="card-text">{{ order.description|truncatewords:10 }}</p>
                    <a href="{% url 'goodsapp:order_review' order.id %}" class="btn btn-secondary">Открыть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}