{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Информация о заказе в карточке -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ order.name }}</h2>
            <p class="card-text">{{ order.description }}</p>
            <p><strong>Дата:</strong> {{ order.date }}</p>
            <p><strong>Автор:</strong> {{ order.author }}</p>
            <p><strong>Статус завершения:</strong> {{ order.is_done|yesno:"Завершен,Не завершен" }}</p>
        </div>
    </div>

    <!-- Форма поиска продукта по артикулу -->
    <h3>Поиск продукта по артикулу:</h3>
    <form method="get" action="{% url 'goodsapp:search_product' order.id %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="article" class="form-control" placeholder="Введите артикул" aria-label="Введите артикул">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>

    <!-- Форма удаления заказа -->
 <form method="get" action="{% url 'goodsapp:confirm_delete_order' order.id %}">
    <button type="submit" class="btn btn-danger">Удалить заказ</button>
</form>

    <!-- Таблица с продуктами в заказе -->
    <h3>Продукты в заказе</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Название</th>
            <th>Количество штук</th>
            <th>Цена за единицу, RUB</th>
            <th>Стоимость, RUB</th>
            <th>Вес, кг</th>
            <th>Действия</th> <!-- Новый столбец для действий -->
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.article }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity|floatformat:0 }}</td>
            <td>{{ product.unit_price }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.weight }}</td>
            <td>
                <!-- Кнопка для удаления продукта -->
                <form action="{% url 'goodsapp:delete_product' product.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <!-- Перенаправление на страницу подтверждения -->
                    <a href="{% url 'goodsapp:delete_product' product.id %}" class="btn btn-danger btn-sm">Удалить</a>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Нет продуктов в этом заказе.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}