{% extends 'base.html' %}

{% block content %}
<h2>{{ order.name }}</h2>
<p>{{ order.description }}</p>
<p>Дата: {{ order.date }}</p>
<p>Автор: {{ order.author }}</p>
<p>Статус завершения: {{ order.is_done }}</p>
<h3>Продукты в заказе</h3>
<ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
      Артикул: {{ product.article }} Название - {{ product.name }} - Количество: {{ product.quantity }} - Цена за единицу: {{ product.unit_price }} - Сумма: {{ product.amount }}
    </li>
    {% empty %}
    <li class="list-group-item">Нет продуктов в этом заказе.</li>
    {% endfor %}
</ul>


{% endblock %}